@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

html {
  scroll-padding-top: var(--scroll-padding, 50px);
  scroll-behavior: smooth;

  font-family: "Kdam Thmor Pro", sans-serif;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

nav {
  text-decoration: none;
  position: sticky;
  top: 0;
  z-index: 1000; /*remove?*/
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: blue;
}

nav a {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

header {
  height: 100vh;
  display: grid;
  place-items: center;
  color: white;
}

header > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

header > img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header,
section {
  height: 100vh;
  scroll-snap-align: start;
}

section.sec-div {
  margin: 2vh 1vw;
}
section p {
  margin: 1rem 0;
}

/* :where(.sec-div > :not(:first-child)) {
  margin-top: 0.5rem, 1.5rem;
} */

code {
  font-family: monospace;
  font-size: 1.2rem;
  margin: 3rem 4rem;
}

#work {
  background: hsla(50, 50%, 50%, 1);
}

#education {
  background: hsla(100, 50%, 50%, 1);
}

#contact {
  background: hsla(150, 50%, 50%, 1);
}
